.Titiles-Name {

    color: red;
}

.Movies-Text {
    color:gray;
    text-align: left;
}

.Head-Container {
    
    margin-left: 30%;
    width: 60%;
  
}

.Movies-SubText {
    margin-left: 2%;
}
